.app {
  text-align: center;
  font-family: Arial;
  padding: 20px;
}

.input-box {
  margin: 20px auto;
}

input {
  padding: 10px;
  width: 250px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin-left: 10px;
  cursor: pointer;
}
